<p>
<h4><%=@profile.display_name%>'s  Profile</h4>
</p>
<%if (@profile != nil)%>
  <p>
    Name : <%=@profile.display_name%>
  </p>
  <% if user_signed_in? %>
    <p>
      Email : <%=@profile.user.email%>
    </p>
  <%end%>
  <p>
    About Me : <%=@profile.about_me%>
  </p>
  <p>
    Profile Picture : <%= image_tag @profile.photo.url(:small) %>
  </p>
<%end%>
  
